* {
    margin: 0 auto;
    padding: 0;
    
}

body {
  display: flex;
  justify-content: center;

}

 main {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 100px;
  padding: 50px;
  border: none; 
  background: rgb(214, 240, 249);
}

main h1{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding-bottom: 20px;
 font-weight: bolder;
  font-size: 40px;
  color: rgb(66, 20, 192);

}

input{
  padding: 10px;
  border-radius: 10px;
  border: none;
}


#new-task-form {
  align-self: flex-start;
}

main button{
  border-radius: 10px;
  padding: 10px;
  margin-left: 30px;
  margin-top: 20px;
  background-color: rgb(153, 225, 251);
  border: none;
  font-weight: bolder;
  color: rgb(94, 94, 182);
}

div {
  margin-top: 20px;
}

p{
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  color: rgba(22, 116, 238, 0.933);
  font-size: 26px;
  font-weight: 800;
  padding: 2px;
}  
